---
layout: default
---

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}> Research Projects </h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Master's Thesis : Fast List decoding of Polar Codes </h3>
<p class="tab"> In this project, I worked on developing efficient encoder and decoder algorithms for polar codes. 
In particular, we studied the two limitations of decoders for polar codes: error correction performance and computational complexity. 
The first decoding algorithm proposed for polar codes, successive cancellation (SC) decoding, performs very poorly compared to its LDPC counterparts. 
To improve this, we implemented a list decoding algorithm, a generalization of SC decoder where <i> L </i> most probable decoding paths are considered 
concurrently at each decoding stage. <img src="https://raw.githubusercontent.com/sravan-ankireddy/sravan-ankireddy.github.io/master/images/BER_LDPCvsPolar.jpg" align="right" alt="Illustration of <i> L </i> = 4 Polar Code" style="width:600px;height:500px;"/>
.Additionally, a short length Cyclic Redundancy Check (CRC) is added to identify the correct 
codeword among <i> L </i> estimates. To reduce the computational complexity, a number of simplifications based on the identification of special nodes have been incorporated, 
and the Log Likelihood Ration (LLR) update functions have been optimized to reduce the amount of data copying, resulting in improved decoding speed. 
Finally, we explored some novel ideas like concatenating Low-Density Parity Check (LDPC) codes with Polar Codes to achieve superior decoding performance 
with a trade-off for computational complexity.  And using a modified Belief Propagation (BP) decoder to traverse the Tanner graph structure of Polar Codes, 
which enables the reuse of optimized architecture of Message Passing Algorithm (MPA) with a tradeoff for error-correcting performance. 
The detailed report for the project can be found <a href="https://drive.google.com/file/d/1dxOlqftXUdri3mdr_1Fcmx-Iucu9q6lV/view?usp=sharing">  here </a>.</p>
</div>
