---
layout: default
---
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}> Publications </h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">

 <p class="tab"> P. Li*, <b>S. Ankireddy*</b>, R. Zhao, H. Mahjoub, E. Pari, U. Topcu, S Chinchali, H Kim, “Task-aware Distributed Source Coding under Dynamic Bandwidth,” 
  <i>Neural Compression Workshop</i>, NeurIPS 2023 </p>

<p class="tab"> <b>S. K. Ankireddy</b>, S. A. Hebbar, Y. Jiang, H. Kim, P. Viswanath, "Compressed Error HARQ: Feedback
Communication on Noise-Asymmetric Channels," <i>IEEE International Symposium on Information Theory (ISIT)</i>, 2023 </p>
 
<p class="tab"> <b>S. K. Ankireddy</b>, H. Kim, "Interpreting Neural Min-Sum Decoders," <i>IEEE International Conference on Communications (ICC)</i>, 2023 </p>

<p class="tab"> S. A. Hebbar, R. K. Mishra, <b>S. K. Ankireddy</b>, A. V. Makkuva, H. Kim, P. Viswanath, "TinyTurbo: Efficient Turbo Decoders on Edge," <i>IEEE International Symposium on Information Theory (ISIT)</i>, 2022 </p>


</div>
<!-- <h2 {% if site.style == 'dark' %}class="text-white"{% endif %}> Research Projects </h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4"> -->
 
<!--  <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Neual Augmented Min-Sum decoding of Short Block codes </h3>
<p class="tab"> In the decoding of linear block codes, it was shown
that noticeable gains in terms of bit error rate can be achieved
by introducing learnable parameters to the Belief Propagation
(BP) decoder. Despite the success of these methods, there are
two key open problems. The first is the lack of analysis for
channels other than AWGN. The second is the interpretation
of the weights learned and their effect on the reliability of the
BP decoder. In this work, we aim to bridge this gap by looking
at non-AWGN channels such as Extended Typical Urban (ETU)
channel. We study the effect of entangling the weights and how
the performance holds across different channel settings for the
min-sum version of BP decoder.We show that while entanglement
has little degradation in the AWGN channel, a significant loss
is observed in more complex channels. We also provide insights
into the weights learned and their connection to the structure of
the underlying code. Finally, we evaluate our algorithm on the
over-the-air channels using Software Defined Radios.
Manuscript can be found <a href="https://arxiv.org/abs/2205.10684">  here</a> and the source code can be found <a href="https://github.com/sravan-ankireddy/nams">here</a>.</p>
</div>
  
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Master's Thesis : Fast List decoding of Polar Codes </h3>
<p class="tab"> In this project, I worked on developing efficient encoder and decoder algorithms for polar codes. 
In particular, we studied the two limitations of decoders for polar codes: error correction performance and computational complexity. 
The first decoding algorithm proposed for polar codes, successive cancellation (SC) decoding, performs very poorly compared to its LDPC counterparts. 
To improve this, we implemented a list decoding algorithm, a generalization of SC decoder where <i> L </i> most probable decoding paths are considered 
concurrently at each decoding stage. <img src="https://raw.githubusercontent.com/sravan-ankireddy/sravan-ankireddy.github.io/master/images/BER_LDPCvsPolar.jpg" align="right" alt="Illustration of <i> L </i> = 4 Polar Code" style="width:600px;height:500px;"/>
.Additionally, a short length Cyclic Redundancy Check (CRC) is added to identify the correct 
codeword among <i> L </i> estimates. To reduce the computational complexity, a number of simplifications based on the identification of special nodes have been incorporated, 
and the Log Likelihood Ration (LLR) update functions have been optimized to reduce the amount of data copying, resulting in improved decoding speed. 
Finally, we explored some novel ideas like concatenating Low-Density Parity Check (LDPC) codes with Polar Codes to achieve superior decoding performance 
with a trade-off for computational complexity.  And using a modified Belief Propagation (BP) decoder to traverse the Tanner graph structure of Polar Codes, 
which enables the reuse of optimized architecture of Message Passing Algorithm (MPA) with a tradeoff for error-correcting performance. 
The detailed report for the project can be found <a href="https://drive.google.com/file/d/1dxOlqftXUdri3mdr_1Fcmx-Iucu9q6lV/view?usp=sharing">  here</a> and the source code can be found <a href="https://github.com/sravan-ankireddy/polar_codes">here</a>.</p> -->
<!-- </div> -->
