---
layout: default
---

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}> Work Experience </h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Research Engineer, Qualcomm Research Bangalore : Jul'19 to pesent</h3>
<p class="tab"> As a Research Engineer at Qualcomm, I develop advanced receiver algorithms for next-generation (802.11be) WiFi transceivers. My key responsibilities 
  include the proposal and implementation of enhancements to various baseband and RF algorithms. My previous projects include enhanced channel estimation and 
  quantization algorithms and the calibration and correction of spur and other impairments in the RF frontend block. Apart from theoretical study and modeling, I closely 
  work with the RTL and design verification teams to identify and resolve any issues faced in the execution pipeline.
</p>
  
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Systems Engineering Intern, Qualcomm Research Bangalore : May'18 to Jul'18</h3>
<p class="tab"> As a systems engineering intern, I worked on interference cancellation and user separation for MultiUser MIMO scenarios, focusing on transmit power constraint. After proving the 
  limitation of linear precoding methods such as MMSE and leakage based precoding, I proposed a solution using nonlinear lattice coding techniques, minimizing the fraction of power used for 
  interuser interference cancellation. Using suboptimal Cholesky factorization, I maintained the computational complexity close to linear and performed endtoend simulations, demonstrating a 
  gain of up to 2.5dB in critical scenarios.
 </p>
  
  <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Software Engineering Intern, Qualcomm India Pvt. Ltd. Hyderabad : May'17 to Jul'17</h3>
<p class="tab"> As a software engineering intern, I worked on the performance validation of the LTE Commercial Message Alerting System (CMAS) application using a proprietary framework. 
  I developed parsing scripts in python to analyze the test logs and update the results to a centralized server. I also created a simple GUI to simplify the usage of the python 
  scripts by end-users by providing options to pick the necessary script.
 </p>
  
  <h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Signal Processing Intern, Detect Technologies, Chennai : May'16 to Jul'16</h3>
<p class="tab"> As a signal processing intern, I worked on smoothing techniques for backscattering data of ultrasonic waves. First, I optimized the design and configuration of
magnetostrictive sensors to reduce interference by 30%. After that, I developed a filtering technique to reduce noise in signals using the Savitzky-Golay algorithm. And finally, I built a simple
statistical model in MATLAB to identify the category of defects based on the reflected signal.
 </p>
  
</div>
