---
layout: default
---

<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}> Work Experience </h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Research Engineer, Qualcomm Research Bangalore : Jul'19 to pesent</h3>
<p class="tab"> Research Engineer in the WLAN PHY Layer Modeling team, working on development of advanced baseband and RF receiver algorithms for next-gen WiFi transceivers.</p>
<h3 {% if site.style == 'dark' %}class="text-white"{% endif %}> Systems Engineering Intern, Qualcomm Research Bangalore : May'18 to Jul'18</h3>
<p class="tab"> Worked on interference cancellation and user separation for Multi-User MIMO in 802.11ax. Developed a non-linear lattice-based precoding technique 
  to minimize the fraction of power used for interference suppression and simulated the end-to-end communication system in MATLAB to demonstrate improved throughput. </p>
</div>
