<table style="width:100%">
  <tr>
    <th> <a href="https://sravan-ankireddy.github.io/"> Home </a> </th>
<!--     <th> <a href="https://sravan-ankireddy.github.io/work_exp"> Work Experience </a> </th> -->
    <th> <a href="https://sravan-ankireddy.github.io/proj"> Publications </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/CV"> CV </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/Misc"> Misc. </a> </th>
    <th> Visitor count : <div align=center><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-ZC1cZc4B53bZA73y-6.gif' border='0' alt='free web counter'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=ZC1cZc4B53bZA73y'></script></div> </a> </th>
  </tr>
</table>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <p class="tab"> I am a third year Ph.D student in the department of ECE at the University of Texas at Austin, advised by
    <a href="http://sites.utexas.edu/hkim/"> Hyeji Kim </a>.
    
    I am broadly interested in Information Theory, Machine Learning, Representation Learning, and Distributed Compression. 
    
    One line of my work focuses on leveraging recent advances in deep learning to create novel PHY Layer communication algorithms. 

    Concurrently, I have also been working on developing deep learning based compression algorithms inspired by classical results in Information Theory, 
    focusing on learning robust representations for downstream tasks. 

     </p>
    <p class="tab">
    My current focus is on extracting robust representations from multi-source datatsets 
    that enable continual learning across models and tasks.

    I also closely collaborate with <a href="https://www.ece.utexas.edu/people/faculty/sandeep-chinchali"> Sandeep Chinchali</a> (UT Austin),
    <a href="https://ece.princeton.edu/people/pramod-viswanath"> Pramod Viswanath</a> (Princeton), 
    <a href="http://krishnanarayanan.wikidot.com"> Krishna Narayanan</a> (TAMU), 
    <a href="https://homes.cs.washington.edu/~sewoong/"> Sewoong Oh</a> (UW Seattle).
    
<!--     I am particulary curious about connections between various problems that are common to wireless communications and deep learning, which recently  -->
<!--     got me interested in semantic communications and Joint Source Channel Coding (JSCC). -->
    
    My goal is to combine advances from multiple fields to develop low-complex solutions at the intersection of theory and systems.
      
<!--       I see myself working at the intersection of theory and systems, to develop learning based solutions to some classical problems 
    that combines domain expertise with tools from deep learning to formulate low-complex solutions.  -->
  
    </p>
  
  <p class="tab'"> In the past, I spent two wonderful years a Research Engineer at <a href="https://www.qualcomm.com/company/corporate-responsibility/purposeful-innovation/wireless-reach/overview"> 
    Qualcomm </a> working in the Physical Layer Modelling team in Bangalore, India. 
    Previously, I graduated with Bachelors and Masters in <a href="https://www.ee.iitm.ac.in/"> 
    Electrical Engineering </a> from <a href="https://www.iitm.ac.in/"> IIT Madras </a> in 2019. I have been extremely fortunate to have worked with <a href="http://www.ee.iitm.ac.in/andrew/"> Dr. Andrew Thangaraj
    </a> and <a href="http://www.ee.iitm.ac.in/~rganti/"> Dr. Radha Krishna Ganti </a> for my Master's Thesis on efficient encoding and decoding of Polar Codes.</p>
    
  <p class="tab'"> In my spare time I enjoy reading books, watching documentaries, and recently developed a love for hiking and backpacking!</p>


  <p class="tab'">  
    <a href="mailto:sravan.ankireddy@utexas.edu"> Email </a> /  
    <a href="https://scholar.google.com/citations?user=j34sU94AAAAJ&hl=en&oi=ao"> Google Scholar </a> / 
    <a href="https://github.com/sravan-ankireddy"> GitHub </a> /  
    <a href="https://www.linkedin.com/in/sravan-ankireddy/"> Linkedin </a>  
  
  </p> 
    
</div>

