<table style="width:100%">
  <tr>
    <th> <a href="https://sravan-ankireddy.github.io/"> Home </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/work_exp"> Work Experience </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/proj"> Projects </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/CV"> CV </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/Misc"> Misc. </a> </th>
    <th> Visitor count : <div align=center><a href='https://www.counter12.com'><img src='https://www.counter12.com/img-ZC1cZc4B53bZA73y-6.gif' border='0' alt='free web counter'></a><script type='text/javascript' src='https://www.counter12.com/ad.js?id=ZC1cZc4B53bZA73y'></script></div> </a> </th>
  </tr>
</table>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <p class="tab"> I am a second year Ph.D student in the department of ECE at the University of Texas at Austin, advised by
    <a href="http://sites.utexas.edu/hkim/"> Prof. Hyeji Kim </a>. 
    I am broadly interested in Information Theory, Machine Learning and Wireless Communications. Presently I am working on augmentation of physical layer 
    communication algorithms using neural networks. I am also interested in exploring the connections between the above fields to gain more insights into 
    the performance of neural algorithms and establish some theoretical gaurantees. Finally, I see myself working at the intersection of theory and systems,
     to develop novel solutions to some classical problems using the tools of Machine Learning .</p>
  
  <p class="tab'"> In the past, I spent two wonderful years a Research Engineer at <a href="https://www.qualcomm.com/company/corporate-responsibility/purposeful-innovation/wireless-reach/overview"> 
    Qualcomm </a> working in the Physical Layer Modelling team in Bangalore, India. 
    Previously, I graduated with Bachelors and Masters in <a href="https://www.ee.iitm.ac.in/"> 
    Electrical Engineering </a> from <a href="https://www.iitm.ac.in/"> IIT Madras </a> in 2019. I have been extremely fortunate to have worked with <a href="http://www.ee.iitm.ac.in/andrew/"> Dr. Andrew Thangaraj
    </a> and <a href="http://www.ee.iitm.ac.in/~rganti/"> Dr. Radha Krishna Ganti </a> for my Master's Thesis on efficient encoding and decoding of Polar Codes.</p>
    
  <p class="tab'"> In my spare time I enjoy reading books, watching documentaries and recently developed a love for hiking and backpacking!</p>
    
</div>

