<table style="width:100%">
  <tr>
    <th> <a href="https://sravan-ankireddy.github.io/"> Home </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/projects"> Projects </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/CV"> CV </a> </th>
    <th> <a href="https://sravan-ankireddy.github.io/Misc"> Misc. </a> </th>
  </tr>
</table>
<h2 {% if site.style == 'dark' %}class="text-white"{% endif %}>About me</h2>
<div class="d-sm-flex flex-wrap gutter-condensed mb-4">
  <p> I am a Research Engineer at <a href="https://www.qualcomm.com/invention"> Qualcomm </a> working in the Physical Layer Modelling team in Bangalore, India. 
    Before joining Qualcomm, I graduated with Bachelors and Masters in <a href="https://www.ee.iitm.ac.in/"> 
    Electrical Engineering </a> from <a href="https://www.iitm.ac.in/"> IIT Madras </a> in 2019.</p>
  <p> I have been extremely fortunate to have worked with <a href="http://www.ee.iitm.ac.in/andrew/"> Dr.Andrew Thangaraj
    </a> and <a href="http://www.ee.iitm.ac.in/~rganti/"> Dr. R K Ganti </a> for my Master's Thesis on efficient encoding and decoding of Polar Codes. </p>
  <p> I am currently interested in Information Theory, Machine Learning and Wireless Communications with particular 
    interest in using ideas from Communication Theory to solve problems in Machine Learning and vice versa. 
    Some of the problems that excite me are Distributed Machine Learning, Coded Computation, and Physical Layer Communication using Deep Learning.</p>
</div>

